---
import Navbar from "./Navbar.astro";
---

<!-- Promo Banner -->
<div
    class="bg-gold text-secondary text-center py-2 px-4 text-xs font-bold uppercase tracking-widest relative z-50 shadow-md"
>
    <span
        >✨ 10% DE DESCUENTO EN TU PRIMERA COMPRA CON EL CÓDIGO: <span
            class="bg-secondary text-white px-2 py-0.5 rounded mx-1"
            >GROW10</span
        > ✨</span
    >
</div>

<Navbar />
